@model University_Final_Project.Models.ExamResult

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h3>Edit Exam Result</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="ExamResults" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Exam_Id" />
        
            <div class="form-group">
                <label class="control-label">Student ID</label>
                <input asp-for="Student_FId" class="form-control" />
                <span asp-validation-for="Student_FId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Subject</label>
                <select asp-for="subject_FId" asp-items="ViewBag.list"class="form-control" ></select>
            </div>
            <div class="form-group">
                <label class="control-label">Semester</label>
                <select asp-for="semester"class="form-control" >
                    <option value="1" name="semester">
                        1
                    </option>
                    <option value="2" name="semester">
                        2
                    </option>
                    <option value="3" name="semester">
                        3
                    </option>
                    <option value="4" name="semester">
                        4
                    </option>
                    <option value="5" name="semester">
                        5
                    </option>
                    <option value="6" name="semester">
                        6
                    </option>
                    <option value="7" name="semester">
                        7
                    </option>
                    <option value="8" name="semester">
                        8
                    </option>
                </select>
            </div>
           
            <div class="form-group">
                <label  class="control-label">Sessional Marks</label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />|
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
