@model University_Final_Project.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Roll_Number" class="control-label"></label>
                <input asp-for="Roll_Number" class="form-control" />
                <span asp-validation-for="Roll_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reg_Number" class="control-label"></label>
                <input asp-for="Reg_Number" class="form-control" />
                <span asp-validation-for="Reg_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeFid" class="control-label"></label>
                <select asp-for="DegreeFid" class="form-control" asp-items="ViewBag.list" ></select>
                <span asp-validation-for="DegreeFid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First_Name" class="control-label"></label>
                <input asp-for="First_Name" class="form-control" />
                <span asp-validation-for="First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_Name" class="control-label"></label>
                <input asp-for="Last_Name" class="form-control" />
                <span asp-validation-for="Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Father_Name" class="control-label"></label>
                <input asp-for="Father_Name" class="form-control" />
                <span asp-validation-for="Father_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session_Start" class="control-label"></label>
                <input asp-for="Session_Start" class="form-control" />
                <span asp-validation-for="Session_Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />|
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
