.aside1 {
    margin:0,0,0,0;
    width:15%;
    float:left;
    height:710px;
    background-color:skyblue;
}
.content {
    width: 85%;
    float: left;
    height: 710px;
  
}
#logout-dropdown:hover {
    background-color: rgb(78, 205, 196);
}